/*.p-3 {
    max-width: 500px;
    margin: 40px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

form {
    text-align: center;  
}

.input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.form-label {
    color: #333;
    font-weight: bold;
}

.form-control {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f7f7f7;
    transition: border-color 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}

.form-control:focus {
    outline: none;
    border-color: #007bff;
}

.btn {
    padding: 15px 30px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    width: 100%; /* Make button full width */
body {
    background-image:url('myimage.png');
    background-position:center center;
    background-repeat:no-repeat;
}

.btn:hover {
    background-color: #0056b3;
}

.text-danger {
    color: #dc3545;
    margin-top: 10px;
    font-size: 0.9rem;
}

.header {
    background-color: #23BACC ;
    color: #3498DB ;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 8px;
}

@media (min-width: 768px) {
    .p-3 {
        max-width: 600px;
    }
}
*/

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.form_area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #EDDCD9;
  height: auto;
  width: auto;
  border: 2px solid #264143;
  border-radius: 20px;
  box-shadow: 3px 4px 0px 1px #E99F4C;
}

.title {
  color: #264143;
  font-weight: 900;
  font-size: 1.5em;
  margin-top: 20px;
}

.sub_title {
  font-weight: 600;
  margin: 5px 0;
}

.form_group {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 10px;
}

.form_style {
  outline: none;
  border: 2px solid #264143;
  box-shadow: 3px 4px 0px 1px #E99F4C;
  width: 290px;
  padding: 12px 10px;
  border-radius: 4px;
  font-size: 15px;
}

.form_style:focus, .btn:focus {
  transform: translateY(4px);
  box-shadow: 1px 2px 0px 0px #E99F4C;
}

.btn {
  padding: 15px;
  margin: 25px 0px;
  width: 290px;
  font-size: 15px;
  background: #DE5499;
  border-radius: 10px;
  font-weight: 800;
  box-shadow: 3px 3px 0px 0px #E99F4C;
}

.btn:hover {
  opacity: .9;
}

.link {
  font-weight: 800;
  color: #264143;
  padding: 5px;
}

